{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="careers">
  <center>
  <marquee direction="right">
<h3 class="careerh3">Careers at NAPS Infrastaructure</h3></marquee><br>
<h3 class="careerfruadmessage">“We do not charge any fees at any stage of the recruitment process. Please stay alert and protect yourself from fraudulent job offers.”</h3></center><br><br><br>
<h2 class="careeerh2">“Build the future of infrastructure with us”</h2><br><br><br>
<p class="careersp"> 
  <h3 class="careerswhyjoinus">Why Join Us</h3>
<p class="careersparawhyjoin">Join NAPS Infrastructures and be part of a growing organization that values talent, innovation, and impact.</p>
<br><br><br>

<div class="imagediv">
  
  
  <span class="tooltip">Growth Opportunities<br><br>
   
    <img class="carrerimage" src="https://i.ibb.co/FkR0hN3d/Chat-GPT-Image-Apr-3-2026-12-23-34-PM.png" alt="">
    <span class="tooltiptext">We are committed to fostering a culture of continuous growth and professional excellence. Our employees are provided with opportunities to work on complex, large-scale government and industrial projects that enhance both technical expertise and leadership capabilities. Through structured training programs, mentorship initiatives, and real-world project exposure, we enable individuals to expand their skill sets, take ownership of responsibilities, and progress confidently in their careers.Work on diverse projects across infrastructure, engineering, and management domains.</span>
  </span>
   





  <span class="tooltip">Real-World Impact<br><br>
    <img class="carrerimage" src="https://i.ibb.co/9QpmCGy/Chat-GPT-Image-Apr-3-2026-12-35-43-PM.png" alt="">
    <span class="tooltiptext">Our projects are designed to address real-world challenges and create sustainable value across key sectors such as agriculture, urban development, and national infrastructure. By contributing to these initiatives, employees play an essential role in enhancing productivity, improving living standards, and supporting economic growth. We are committed to delivering solutions that are innovative, reliable, and impactful—ensuring that every project contributes to building a stronger and more resilient future.Contribute to projects that support agriculture, urban development, and national infrastructure.</span>
  </span>
  





  <span class="tooltip">Learning & Development<br><br>
    <img class="carrerimage" src="https://i.ibb.co/BKyJxk8g/Chat-GPT-Image-Apr-3-2026-12-37-53-PM.png" alt="">
    <span class="tooltiptext">Our organization fosters a culture of continuous improvement by providing access to learning resources, on-the-job training, and cross-functional exposure. Employees are encouraged to expand their knowledge, develop new competencies, and take on challenging roles that accelerate their professional growth. Through guidance from experienced leaders, we ensure every individual is equipped to succeed.Gain hands-on experience in large-scale projects and cross-functional roles.</span>
  </span>
  




 
<span class="tooltip">Collaborative Work Culture<br><br>
  <img  class="carrerimage" src="https://i.ibb.co/qYfSYHMW/Chat-GPT-Image-Apr-3-2026-12-40-03-PM.png" alt="">
    <span class="tooltiptext">We believe that great achievements come from strong collaboration. By working alongside skilled professionals in a supportive and performance-driven environment, employees are encouraged to share ideas, learn from one another, and deliver impactful results. Our culture promotes trust, inclusivity, and continuous improvement.Work with experienced professionals in a supportive and performance-driven environment.</span>
  </span>
 


 
  <span class="tooltip">Career Stability & Expansion<br><br>
    <img class="carrerimage" src="https://i.ibb.co/TBdwcM3T/Chat-GPT-Image-Apr-3-2026-12-45-00-PM.png" alt="">

    <span class="tooltiptext">Be part of a company involved in long-term government and industrial projects.We offer a stable and secure career environment supported by long-term government and industrial projects. Employees benefit from consistent opportunities to grow within the organization, take on new responsibilities, and advance their careers. Our focus on sustainability and structured growth ensures long-term professional success.We create an environment where employees can confidently build their future, skill development opportunities, and internal growth. By encouraging progression and recognizing performance, we ensure that every individual has the opportunity to expand their career and achieve long-term success.</span>
  </span>


  <span class="tooltip">Safety & Compliance<br><br>
  <img  class="carrerimage" src="https://i.ibb.co/5gcTR7QJ/Chat-GPT-Image-Apr-3-2026-03-34-46-PM.png" alt="">
    <span class="tooltiptext">Our organization prioritizes the health and safety of every individual by enforcing stringent safety measures and compliance standards. Employees are equipped with the necessary training, tools, and knowledge to operate safely in all environments, ensuring the successful execution of projects without compromising well-being.Our approach includes comprehensive safety training, strict adherence to industry standards, and continuous evaluation of workplace practices. By fostering a culture of accountability and awareness, we ensure that every project is executed in a safe, secure, and compliant manner.</span>
  </span>
 
</div>
</div>
<center>
  <a href="{% url 'jobs' %}">
  <button  class="careers-btn">View Open Positions</button>
</a>
</center>




{% endblock %}