{% extends 'main.html' %}

{% block content %}
<section class="contact-section">

<div class="contact-container">

    <!-- Left Blue Box -->
    <div class="contact-career">
        <h3>Corporate Office</h3>
        <p>G R Infraprojects Limited</p>
        <p>GR One, Plot No. 7B, Sector-18,<br>
        Maruti Industrial Complex, Gurugram,<br>
        Haryana - 122015</p>

        <p><b>Tel:</b> +91-9981369315</p>
        <p><b>Email:</b> info@napsinfra.com</p>

    </div>

  
</section>
{% endblock %}