{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAPS INFRASTRUCTURE PTV LTD</title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/HpFTYn63/NAPSB.jpg"">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}<br><br><br><br><br>
    <section class="footer-section">

<div class="footer-container">

    <div class="footer-box">
        <h3>Registered Office</h3>
        <p>
        EB-242,<br>
        Ring Road, Sch.No.94<br>
        Indore, Madhya Pradesh – 452010
        </p>
         <p>📞 +91-9981369315</p>
        <p>✉ info@napsinfra.com</p>

        <p><b>Director</b><br>
        Mr.Ram murthy<br>
        Company Director
        </p>
    </div>

</div>

<div class="copyright">
Copyright © 2026 NAPS Infrastructure | All Rights Reserved
</div>

</section>
</body>
</html>