{% load static %}
{% extends 'main.html' %}
{% block content %}
<h1> Login Page</h1>
<center>
    {{error}}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="username" id=""><br><br>
        <label for="">Password:</label>
        <input type="text" name="password" id=""><br><br>
        <button type="submit">SUBMIT</button><br><br>
        <a href="{% url 'forgot_password' %}">FORGOT PASSWORD</a>
    </form>
</center>
{% endblock %}