{% extends 'main.html' %}
{% block content %}
<h1>RESET PASSWORD<h1>
   <center>
    {{error}}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="" id="" value="{{request.user.username}}" readonly><br><br>
        {% if new_pass %}
        <label for="">Enter the new password</label>
        <input type="password" name="newpasw" id=""><br><br>
        {% else %}
        <label for="">Enter your old password:</label>
        <input type="password" name="oldpasw" id=""><br><br>
        {% endif %}
        <button type="submit">SUBMIT</button>
    </form>
</center>